{#
 #    Authors: Luis Chanu & Rutger Blom
 #    Filename: templates/DNSServer_v22.04_runbook.j2
 #    Used By: This file is used by the playbook deployDNS.yml
 #    Purpose: This Jinja2 template file is used to create the data structure that is provided to the modules in deployDNS.yml .
 #
 #}
Configuration:
  Templates:
    AutoInstall:
      - Name: GrubCfg
        Source: {{ Target.TemplateFolder }}/Ubuntu_v22.04_grub.j2
        LocalDestination:
        StageDestination:
        FinalDestination: {{ Target.TempFolder }}/isos/{{ Deploy.Software.DNSServer.Vendor }}_{{ Deploy.Software.DNSServer.Product }}_{{ Deploy.Software.DNSServer.Version }}/boot/grub/grub.cfg
      - Name: UserData
        Source: {{ Target.TemplateFolder }}/Ubuntu_v22.04_user-data.j2
        LocalDestination:
        StageDestination:
        FinalDestination: {{ Target.TempFolder }}/{{ Deploy.Software.DNSServer.Installer }}/{{ Common.DNS.Domain }}/user-data
      - Name: MetaData
        Source: {{ Target.TemplateFolder }}/Ubuntu_v22.04_meta-data.j2
        LocalDestination:
        StageDestination:
        FinalDestination: {{ Target.TempFolder }}/{{ Deploy.Software.DNSServer.Installer }}/{{ Common.DNS.Domain }}/meta-data
    AfterBoot:
      - Name: NetPlan
        Source: {{ Target.TemplateFolder }}/Ubuntu_v22.04_Netplan.j2
        LocalDestination: {{ Target.TempFolder }}/00-installer-config.yaml
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/00-installer-config.yaml
        FinalDestination: /etc/netplan/00-installer-config.yaml
  Packages:
    - Name: nmap
      Daemon:
    - Name: net-tools
      Daemon:
  Commands:
    - Name: echo '{{ Nested_DNSServer.OS.Credential.User }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ubuntu # Allow user to run sudo without password. Required for successfull post configuration.
